/bin/
/.gradle/
/gradle/
/.DS_Store
/.settings
/.project

/*/.ivy/
/*/.project
/*/.settings/
/*/.DS_Store
/*/.ivy/
/*/*/.DS_Store
/*/*/.project
/*/*/.settings/
/*/*/*/bin
/*/*/*/build
/*/*/*/.project
/*/*/*/.classpath
/*/*/*/.settings/
/*/*/*/.sass-cache/
/*/*/*/.DS_Store
/plugins-sdk/build.*.properties
/plugins-sdk/dist
gradle.properties
/.idea/
.classpath
plugins-sdk/.classpath
/libs/


/modules/*/bin/
/modules/**/build/
/modules/**/.gitignore
/modules/**/.sass-cache/
/themes/dxp-theme/
